.straker-main-container {
  padding: 30px;
  border: 1px solid #000000;
  max-width: 600px;
  margin: 0 auto;
}
.straker-main-container.border {
  border: 1px solid #000000;
  padding: 20px;
}
.straker-main-container .destination-container {
  margin-top: 10px;
}
.straker-main-container label.terms-label {
  margin-top: 10px;
  display: inline-block;
}
.straker-main-container label.terms-label > input {
  margin-right: 5px;
}
.straker-main-container input.input-text,
.straker-main-container textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.straker-main-container .col-left,
.straker-main-container .col-right {
  margin-top: 20px;
  padding-bottom: 10px;
}
.straker-main-container .col-left {
  float: left;
  width: 43%;
  padding-right: 7%;
  border-right: 2px solid #000000;
}
.straker-main-container .col-right {
  float: right;
  padding-left: 5%;
  width: 43%;
}
.straker-main-container .store-select-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #000000;
}
.straker-main-container .store-select-container .input-box {
  width: 100%;
  margin-bottom: 5px;
}
.straker-main-container .store-select-container .input-box label {
  text-align: right;
  display: inline-block;
}
.straker-main-container .store-select-container .validation-advice {
  margin-left: 25%;
}
.straker-main-container .form-buttons {
  margin-top: 20px;
}
.strakertranslations-adminhtml-job-index {
  /* DO NOT CHANGE THESE VALUES*/
}
.strakertranslations-adminhtml-job-index .overlay_dialog {
  background-color: #666666;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.strakertranslations-adminhtml-job-index .overlay___invisible__ {
  background-color: #666666;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}
.strakertranslations-adminhtml-job-index .dialog_nw {
  width: 9px;
  height: 23px;
  background: transparent url(../images/default/top_left.gif) no-repeat 0 0;
}
.strakertranslations-adminhtml-job-index .dialog_n {
  background: transparent url(../images/default/top_mid.gif) repeat-x 0 0;
  height: 23px;
}
.strakertranslations-adminhtml-job-index .dialog_ne {
  width: 9px;
  height: 23px;
  background: transparent url(../images/default/top_right.gif) no-repeat 0 0;
}
.strakertranslations-adminhtml-job-index .dialog_e {
  width: 2px;
  background: transparent url(../images/default/center_right.gif) repeat-y 0 0;
}
.strakertranslations-adminhtml-job-index .dialog_w {
  width: 2px;
  background: transparent url(../images/default/center_left.gif) repeat-y 0 0;
}
.strakertranslations-adminhtml-job-index .dialog_sw {
  width: 9px;
  height: 19px;
  background: transparent url(../images/default/bottom_left.gif) no-repeat 0 0;
}
.strakertranslations-adminhtml-job-index .dialog_s {
  background: transparent url(../images/default/bottom_mid.gif) repeat-x 0 0;
  height: 19px;
}
.strakertranslations-adminhtml-job-index .dialog_se {
  width: 9px;
  height: 19px;
  background: transparent url(../images/default/bottom_right.gif) no-repeat 0 0;
}
.strakertranslations-adminhtml-job-index .dialog_sizer {
  width: 9px;
  height: 19px;
  background: transparent url(../images/default/sizer.gif) no-repeat 0 0;
  cursor: se-resize;
}
.strakertranslations-adminhtml-job-index .dialog_close {
  width: 14px;
  height: 14px;
  background: transparent url(../images/default/close.gif) no-repeat 0 0;
  position: absolute;
  top: 5px;
  left: 8px;
  cursor: pointer;
  z-index: 2000;
}
.strakertranslations-adminhtml-job-index .dialog_minimize {
  width: 14px;
  height: 15px;
  background: transparent url(../images/default/minimize.gif) no-repeat 0 0;
  position: absolute;
  top: 5px;
  left: 28px;
  cursor: pointer;
  z-index: 2000;
}
.strakertranslations-adminhtml-job-index .dialog_maximize {
  width: 14px;
  height: 15px;
  background: transparent url(../images/default/maximize.gif) no-repeat 0 0;
  position: absolute;
  top: 5px;
  left: 49px;
  cursor: pointer;
  z-index: 2000;
}
.strakertranslations-adminhtml-job-index .dialog_title {
  float: left;
  height: 14px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  width: 100%;
  color: #000;
}
.strakertranslations-adminhtml-job-index .dialog_content {
  overflow: auto;
  color: #DDD;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 10px;
  background-color: #123;
}
.strakertranslations-adminhtml-job-index .top_draggable,
.strakertranslations-adminhtml-job-index .bottom_draggable {
  cursor: move;
}
.strakertranslations-adminhtml-job-index .status_bar {
  font-size: 12px;
}
.strakertranslations-adminhtml-job-index .status_bar input {
  font-size: 12px;
}
.strakertranslations-adminhtml-job-index .wired_frame {
  display: block;
  position: absolute;
  border: 1px #000 dashed;
}
.strakertranslations-adminhtml-job-index .dialog {
  display: block;
  position: absolute;
}
.strakertranslations-adminhtml-job-index .dialog table.table_window {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.strakertranslations-adminhtml-job-index .dialog table.table_window td,
.strakertranslations-adminhtml-job-index .dialog table.table_window th {
  padding: 0;
}
.strakertranslations-adminhtml-job-index .dialog .title_window {
  -moz-user-select: none;
}
.adminhtml-straker-job-index .quote-workflow {
  margin-bottom: 5px;
  border: 1px solid #999999;
  padding: 5px;
}
.adminhtml-straker-job-index .straker-refresh-button {
  display: inline-block;
  margin-top: 7px;
  width: 16px;
  height: 16px;
  background: url('../images/refresh_32.png');
  background-size: 100% 100%;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
}
.adminhtml-straker-job-index .straker-refresh-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  opacity: 0.8;
  -moz-opacity: 0.8;
}
.adminhtml-straker-job-index #straker-quote-back-link {
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
}
.adminhtml-straker-product-index #dispute-container,
.adminhtml-straker-category-index #dispute-container {
  position: fixed;
  background: #fff;
  margin-left: -300px;
  margin-top: -200px;
  height: 400px;
  width: 600px;
  left: 50%;
  top: 50%;
  border: 2px solid;
  padding: 40px;
  z-index: 10;
}
.adminhtml-straker-product-index #dispute-container #dispute-container-close,
.adminhtml-straker-category-index #dispute-container #dispute-container-close {
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  background: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.adminhtml-straker-product-index #strakerJobProductGrid button.feedback,
.adminhtml-straker-category-index #strakerJobProductGrid button.feedback,
.adminhtml-straker-product-index #strakerJobCategoryGrid button.feedback,
.adminhtml-straker-category-index #strakerJobCategoryGrid button.feedback {
  background: none;
  color: #ea7601;
  border: none;
  font-weight: normal;
  text-decoration: underline;
}
.adminhtml-straker-product-index p.inactive,
.adminhtml-straker-category-index p.inactive {
  color: #888888;
  text-decoration: underline;
}
ol.wizard {
  margin-bottom: 30px;
}
ol.wizard[data-wizard-steps="2"] li {
  width: 49%;
}
ol.wizard[data-wizard-steps="3"] li {
  width: 33%;
}
ol.wizard[data-wizard-steps="4"] li {
  width: 24%;
}
ol.wizard[data-wizard-steps="5"] li {
  width: 19%;
}
ol.wizard[data-wizard-steps="6"] li {
  width: 16%;
}
ol.wizard[data-wizard-steps="7"] li {
  width: 14%;
}
ol.wizard[data-wizard-steps="8"] li {
  width: 12%;
}
ol.wizard[data-wizard-steps="9"] li {
  width: 11%;
}
ol.wizard li {
  display: inline-block;
  text-align: center;
  line-height: 3em;
}
ol.wizard li.wizard-done {
  color: black;
  border-bottom: 4px solid yellowgreen;
}
ol.wizard li.wizard-todo {
  color: silver;
  border-bottom: 4px solid silver;
}
ol.wizard li:after {
  content: "\00a0\00a0";
}
ol.wizard li:before {
  position: relative;
  bottom: -2.5em;
  float: left;
  left: 50%;
  line-height: 1em;
}
ol.wizard li.wizard-done:before {
  content: "\2713";
  color: white;
  background-color: yellowgreen;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  border: none;
  border-radius: 1.2em;
}
ol.wizard li.wizard-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  font-size: 1.5em;
  bottom: -1.6em;
}
/*
Temp UI Updates : Yogi
 */
.straker-main-container,
.straker-main-container.border,
.store-select-container {
  border: 1px solid #31BBEA;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
}
.straker-main-container .store-select-container {
  border: 1px solid #B0EBFF;
}
.store-select-container .input-box {
  margin-top: 10px;
}
.store-select-container {
  color: #EB5E00;
}
.store-select-container label {
  width: 130px;
  text-align: left !important;
  display: inline-block;
}
.straker-main-container h2 {
  font-size: 18px;
}
.straker-main-container input.form-button {
  padding: 5px 15px;
  border-radius: 2px;
  border: 1px solid #FF8E3C;
  font-size: 13px;
  color: #fff !important;
  margin-left: 10px;
}
.straker-main-container label {
  color: #565656;
  font-size: 13px;
  line-height: 26px;
}
.straker-main-container select.validate-select,
.store-select-container select.disabled {
  border: 1px solid #ccc;
  width: 258px;
  height: 29px;
  margin-top: 5px;
}
.store-select-container select.disabled {
  border: 1px solid #E7E7E7;
}
.straker-main-container .col-left {
  border-right: 1px solid #A4A4A4;
}
.straker-main-container .input-text {
  border: 1px solid #ADADAD;
  border-radius: 2px;
  padding: 6px;
  margin-bottom: 10px;
}
.straker-main-container h1 {
  color: #595959;
  font-size: 20px;
}
.straker-main-container h3,
.straker-main-container h2 {
  color: #595959;
}
.straker-main-container p {
  font-size: 20px;
  font-size: 15px;
  color: #8A8A8A;
}
.job-type-btn-wrap {
  width: 410px;
  margin-top: 20px;
  overflow: hidden;
}
.job-type-btn-wrap a.job-type-btn {
  color: #fff;
  background: #02A3DB;
  padding: 9px 12px;
  overflow: hidden;
  float: left;
  display: block;
  width: 130px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 15px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
}
.category-attr {
  margin-top: 18px;
}
.category-attr input {
  color: #595959;
  font-size: 16px;
  margin-bottom: 10px;
}
ol.wizard {
  width: 700px;
}
.magento-banner-wrap {
  overflow: hidden;
  margin-bottom: 20px;
}
.destination-container label[for=store] {
  padding-right: 15px;
}
.straker-store-settings-wrapper .straker-store-settings-row {
  margin-bottom: 10px;
}
.straker-store-settings-wrapper .straker-store-settings-row > label {
  display: inline-block;
  width: 100px;
}
.straker-store-settings-wrapper .straker-store-settings-row > .empty-button {
  display: inline-block;
}
.adminhtml-straker-new-index .straker-main-container .form-buttons {
  overflow: hidden;
}
.adminhtml-straker-new-index .straker-main-container .form-buttons input.form-button {
  float: right;
}
.content-header h3.store-info-heading {
  margin-left: 30px;
}
#selectstore-form .validation-advice {
  margin-left: 25%;
}
#straker-cms-title-message {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}
#straker-cms-title-message #straker-icon {
  color: #31BBEA;
}
#straker-cms-title-message #straker-icon::before {
  content: ' ';
  display: inline-block;
  height: 20px;
  width: 20px;
  background: transparent url(../images/straker-translations-logo.png);
  background-size: 100% 100%;
  vertical-align: top;
  margin-left: 5px;
}
