#### Ignore everything ###
/*

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

#### Unignore the following ####
!.gitignore
!app/code/community/StrakerTranslations/EasyTranslationPlatform
!app/design/adminhtml/default/straker
!app/etc/modules/StrakerTranslations_EasyTranslationPlatform.xml
!app/code/community/StrakerTranslations/EasyTranslationPlatform/etc
!js/straker
!skin/adminhtml/default/straker

!Capfile
!config

