.site-group-name{
    font-weight: 700;
    line-height: 35px;
    padding: 0 ! important;
}

.store-view-list{
    line-height: 20px;
}

.store-view-name{
    width: 45%;
    padding: 0.5rem 0 ! important;
    vertical-align: middle;
    /*text-align: right;*/
}

.clear-language{
    padding: 0.5rem 0 ! important;
}

.action-default.scalable.straker-reset-store-button{
    font-size: 1rem;
    padding: 0.3rem 0.6rem 0.3rem;
}

#language_pairs_table{
    margin-top: 2rem;
}

#language_pairs_table td {
    padding: 1rem 1rem 0 0;
}

#straker-job-grid a{
    cursor: pointer;
}

a.straker-job-refresh-anchor{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #0a0a0a;
    cursor: pointer;
}

.col-text{
    width: 40%;
    text-align: left;
}

.col-id{
    width: 10%;
}

@font-face {
    font-family: 'straker';
    src:  url('../fonts/icomoon.eot?p7jbk9');
    src:  url('../fonts/icomoon.eot?p7jbk9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p7jbk9') format('truetype'),
    url('../fonts/icomoon.woff?p7jbk9') format('woff'),
    url('../fonts/icomoon.svg?p7jbk9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.admin__menu .item-custommenu.parent.level-0 > a:before {
    font-family: 'straker' ! Important;
    content: "\e900";
}