/* setting page */
.straker-breadcrumbs{
    letter-spacing: .025em;
    padding-bottom: 0.6875em;
    padding-top: 0.6875em;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.36;
    vertical-align: baseline;
    margin: 0 0 15px;
}

.straker-breadcrumbs .items{
    color: #a3a3a3;
    margin: 0;
    padding: 0;
    list-style: none none;
}

.straker-breadcrumbs .items .item{
    display: inline-block;
    vertical-align: top;
}

.straker-breadcrumbs .item:not(:last-child):after {
    -webkit-font-smoothing: antialiased;
    font-size: 1.3rem;
    line-height: 18px;
    content: '\f105';
    font-family: 'FontAwesome';
    margin: 0 10px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.straker-breadcrumbs a,
.straker-breadcrumbs a:hover,
.straker-breadcrumbs a:visited {
    color: #333333;
    /*text-decoration: underline;*/
}

.straker-value{
    padding-top: 7px;
}

#back-to-grid{
    font-size: 1.2em;
    font-weight: 900;
    color:#eb5202;
}

.straker-backup-list{
    padding: 0.5rem ! important;
}

.straker-backup-list.filename{
    width: 50%
}

.straker-backup-list.create-date{
    width: 40%
}

.straker-backup-list.file-actions{
    width: 5%;
}

.straker-backup-list.file-actions .fa.fa-history:hover{
    color: lightgreen;
}

.straker-backup-list.file-actions .fa.fa-trash:hover{
    color: orangered;
}

.straker-no-content-info{
    padding-top: 7px;
}


.straker-backup-list.file-actions>a{
    color: inherit;
}

#straker-quote-frame iframe{
    margin-top: 10px;
}

.site-group-name{
    font-weight: 600;
    line-height: 35px;
}

.store-view-list{
    line-height: 20px;
}

.store-view-name{
    width: 45%;
    padding: 0.5rem 0 ! important;
    vertical-align: middle;
}

.all-store-view-name{
    padding: 0.5rem 0 ! important;
    vertical-align: middle;
}

.store-language{
    font-style: italic;
    font-size: 1.1rem;
}

.clear-language{
    padding: 0.5rem 0 ! important;
}

.straker-space-line{
    min-height: 0.5rem;
}

.action-default.scalable.straker-reset-store-button{
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem;
}

.language-pair-message{
    padding-top: 2rem;
}

.language-pair-message h4{
    background-color: #eb5202;
    padding: 0.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

#language_pairs_table{
    margin-top: 2rem;
}

.store-row td{
    padding-top: 1rem;
    padding-right: 2rem;
}

#straker-job-grid a{
    cursor: pointer;
}

/*#straker-job-grid table thead tr th:first-child,*/
/*#straker-job-grid table tbody tr td.job-id{*/
    /*display: none;*/
/*}*/

a.straker-job-refresh-anchor{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #0a0a0a;
    cursor: pointer;
}

.col-text{
    width: 40%;
    text-align: left;
}

.col-id{
    width: 15%;
}

.easytranslationplatform-jobs-index .admin__data-grid-wrap .data-row{
    cursor: pointer;
}
/* straker logo */
@font-face {
    font-family: 'straker';
    src:  url('../fonts/icomoon.eot?p7jbk9');
    src:  url('../fonts/icomoon.eot?p7jbk9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p7jbk9') format('truetype'),
    url('../fonts/icomoon.woff?p7jbk9') format('woff'),
    url('../fonts/icomoon.svg?p7jbk9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.admin__menu .item-custommenu.parent.level-0 > a:before {
    font-family: 'straker' ! Important;
    content: "\e900";
}

.straker-setting-tab > div > strong:before {
    font-family: 'straker' ! important;
    content: "\e900";
    display: inline-block;
    font-size: 1.8rem;
    color: #00A5E3;
    padding-right: 5px;
    vertical-align: text-bottom;
}

/*.straker-setting-tab > div > strong {*/
    /*vertical-align: middle;*/
/*}*/

.attr-option-td{
    padding: 5px ! important;
}
.attr-option-table tr:not(.data-grid-editable-row):last-child td,
.attr-option-table td
{
    border-bottom: 0 none transparent ! important;
}

.attr-option-table td:first-child{
    border-left: 0 none transparent ! important;
    border-right: 0.1rem dashed #d6d6d6 ! important;
}

.attr-option-table td:last-child{
    border-right: 0 none transparent ! important;
    border-left: 0.1rem dashed #d6d6d6 ! important;
}

#straker_job_attribute_grid{
    position: relative;
}

/*#straker_job_attribute_grid tr{*/
    /*cursor: pointer;*/
/*}*/

#straker_job_attribute_grid tr:nth-child(even) td {
    background-color: transparent;
}

#straker_job_attribute_grid tr.even td {
    background-color: #f5f5f5;
}

#straker_job_attribute_grid_table{
    border-bottom: 0.1rem solid #D6D6D3;
}

.support-link{
    margin-bottom: 1em;
    display: block;
}

#default_attributes,
#custom_attributes,
#category_attributes{
    width: 25em;
    height: 20em;
}

#job_tabs_select_destination_content h3{
    margin-bottom: 1em;
}

#job_tabs_select_destination_content p:first-of-type{
    margin-bottom: 1.5em;
}

div.fieldset-wrapper.straker{
    padding: 1.5em 2em;
    margin-bottom: 2em;
    border: 1px solid #e3e3e3;
}

div.fieldset-wrapper.straker p{
    line-height: 200%;
}

#source_content div.fieldset-wrapper.straker-source{
    padding: 0 2em;
    border: none;
}

#source_content div.fieldset-wrapper.straker-source h2{
    margin-bottom: 1em;
}

.admin__fieldset.settings-attributes{
    margin-top: 2em;
    border: lightgrey solid 1px;
    padding: 2em 2em 2em 2em;
}

.admin__fieldset.settings-attributes legend span{
    color: rgb(103, 96, 86);
    font: 400 16.6667px "Open Sans", sans-serif;
}

.field-default_attributes, .field-custom_attributes, .field-category_attributes{
    margin-bottom: 0 !important;
}

.anchor-disabled{
    color: #888;
    pointer-events: none;
    text-decoration: underline;
    cursor: default;
}

.col-action{
    width: 200px;
}

#item_store_view_name::before{
    content: '*';
}
.straker_store_error_msg{
    /*margin-left: 1rem;*/
    color: red;
}

.straker-my-account-anchor.action-default{
    display: inline-block;
    margin-top: 0.6rem;
}

button.straker-my-account-button{
    background-color: #00A5E3 ! important;
    color: #fff ! important;
}

tr.job-option{
    background-color: #ffffe6;
}

/* overwrite text align for action cell in manage job page*/
#straker-job-grid .data-grid .data-grid-actions-cell{
    padding: 1rem;
    text-align: left;
    width: 10%;
}

.note.required{
    display: none;
    color: red !important;
}

label[for="source_language"],label[for="source_store"]{
    padding: 0 0 !important;
    text-align: left !important;
}

.import-file-control {
    line-height: 3.2rem;
}