<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <straker>
            <general>
                <version>dev</version>
                <domain>
                    <dev>https://dev-app.strakertranslations.com</dev>
                    <uat>https://uat-app.strakertranslations.com</uat>
                    <demo>https://demo-app.strakertranslations.com</demo>
                    <live>https://live-app.strakertranslations.com</live>
                </domain>
                <api_url>
                    <register>v1/ta4ma/register</register>
                    <languages>v1/ta4ma/languages</languages>
                    <translate>v1/ta4ma/translate</translate>
                    <quote>v1/ta4ma/quote</quote>
                    <payment>v1/ta4ma/payment</payment>
                    <countries>v1/ta4ma/countries</countries>
                    <payment_page>o/?action=api.quote</payment_page>
                    <support>v1/ta4ma/support</support>
                </api_url>
            </general>
        </straker>
    </default>
</config>
