<?xml version="1.0"?>
<config>
    <menu>
        <add id="Straker_EasyTranslationPlatform::customMenu" title="Straker Translations" module="Straker_EasyTranslationPlatform" sortOrder="30" resource="Straker_EasyTranslationPlatform::customMenu"/>
        <add id="Straker_EasyTranslationPlatform::productsgrid" title="Create New Job" module="Straker_EasyTranslationPlatform" sortOrder="10" parent="Straker_EasyTranslationPlatform::customMenu" resource="EasyTranslationPlatform_EasyTranslationPlatform::productsgrid" action="EasyTranslationPlatform/jobs/new"/>
        <add id="Straker_EasyTranslationPlatform::managejobs" title="Manage Jobs" module="Straker_EasyTranslationPlatform" sortOrder="20" parent="Straker_EasyTranslationPlatform::customMenu" resource="EasyTranslationPlatform_EasyTranslationPlatform::productsgrid" action="EasyTranslationPlatform/jobs"/>
        <!--<add id="Straker_EasyTranslationPlatform::accounts" title="My Account" module="Straker_EasyTranslationPlatform" sortOrder="30" parent="Straker_EasyTranslationPlatform::customMenu" action="EasyTranslationPlatform/Accounts" resource="Straker_EasyTranslationPlatform::accounts"/>-->
        <add id="Straker_EasyTranslationPlatform::settings" title="Settings" module="Straker_EasyTranslationPlatform" sortOrder="40" parent="Straker_EasyTranslationPlatform::customMenu" action="adminhtml/system_config/edit/section/straker" resource="Straker_EasyTranslationPlatform::settings"/>
        <add id="Straker_EasyTranslationPlatform::support" title="Support" module="Straker_EasyTranslationPlatform" sortOrder="50" parent="Straker_EasyTranslationPlatform::customMenu" action="EasyTranslationPlatform/Support" resource="Straker_EasyTranslationPlatform::support"/>
        <add id="Straker_EasyTranslationPlatform::termsandconditions" title="Terms &amp; Conditions" module="Straker_EasyTranslationPlatform" sortOrder="60" parent="Straker_EasyTranslationPlatform::customMenu" action="EasyTranslationPlatform/Terms" resource="Straker_EasyTranslationPlatform::termsandconditions"/>
        <!--<add id="Straker_EasyTranslationPlatform::test" title="Test" module="Straker_EasyTranslationPlatform" sortOrder="10" parent="Straker_EasyTranslationPlatform::customMenu" action="EasyTranslationPlatform/test" resource="Straker_EasyTranslationPlatform::test"/>-->
    </menu>
</config>
