<?xml version="1.0"?>
<config>
    <tabs>
        <straker translate="label">
            <label>Straker Translations</label>
            <sort_order>10</sort_order>
        </straker>
    </tabs>
    <sections>
        <straker>
            <label>Straker Translation Extension</label>
            <tab>straker</tab>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Account</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <!--<site_mode translate="label comment" >-->
                            <!--<label>Site Mode</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<sort_order>0</sort_order>-->
                            <!--<source_model>strakertranslations_easytranslationplatform/system_config_source_siteMode</source_model>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                        <!--</site_mode>-->
                        <access_token translate="label comment" >
                            <label>Access Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </access_token>
                        <application_key translate="label comment" >
                            <label>Application Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </application_key>
                        <clear translate="label">
                            <label>Clear All Language Settings</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>strakertranslations_easytranslationplatform/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </clear>
                        <store translate="label">
                            <label>Reset Language Settings for a Store</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>strakertranslations_easytranslationplatform/adminhtml_system_config_form_store</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </store>
                        <backup translate="label">
                            <label>Backup Product Data</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>strakertranslations_easytranslationplatform/adminhtml_system_config_form_backupbutton</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </backup>
                        <restore translate="label">
                            <label>Backup Product Data</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>strakertranslations_easytranslationplatform/adminhtml_system_config_form_restorebutton</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </restore>
                    </fields>
                </general>
                <api_url translate="label">
                    <label>Api Url</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <register translate="label comment" >
                            <label>Register</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </register>
                        <quote translate="label comment" >
                            <label>Quote</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </quote>
                        <countries translate="label comment" >
                            <label>Countries</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </countries>
                        <languages translate="label comment" >
                            <label>Languages</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </languages>
                        <translate translate="label comment" >
                            <label>Translate</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </translate>
                        <translate_sandbox translate="label comment" >
                            <label>Translate (Sandbox)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </translate_sandbox>
                        <payment_page translate="label comment" >
                            <label>Payment Page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_page>
                        <payment translate="label comment" >
                            <label>Payment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment>
                    </fields>
                </api_url>
            </groups>
        </straker>
    </sections>
</config>